{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block content %}

<h1>Планируемы результаты обучения</h1>


<form action="{% url 'add_plan_res_education' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit" class="btn btn-primary btn-block">Добавить</button>

</form>
<button class="btn btn-primary btn-block">Отчистить</button>
<table border="1" width="100%" cellpadding="5">
    <tr>
        <th>Формируемые компетенции</th>
        <th colspan="2">Планируемые результаты обучения по дисциплине</th>

    </tr>

    {% for tbl in bd1 %}
    <tr>
        <td rowspan="3">{{tbl.kod_c}}</td>
        <td rowspan="3">{{tbl.descrip_c}}</td>
        <td>{{tbl.kod_i_naim_c1}}</td>
    <tr><td>{{tbl.kod_i_naim_c2}}</td></tr>
    <tr><td>{{tbl.kod_i_naim_c3}}</td></tr>

    </tr>
    {% endfor %}
</table>

{% endblock %}




