{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block content %}

<h1>Планируемы результаты обучения</h1>

{% for a in bd %}
<div class="motiv-content">
    <p>{{ a.familiya_prepod }}</p>
    <p>{{ a.name_prepod }}</p>
    <p>{{ a.otchestvo }}</p>
</div>
{% endfor %}

<form action="{% url 'add_plan_res_education' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit" class="btn btn-primary btn-block">Добавить</button>
</form>

{% for artist in artists %}

{% endfor %}


{% endblock %}




