{% extends 'base.html' %}

<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}



{% block content %}


<p><b>
    Генератор рабочих программ"</b> -  сервис, облегчающий преподавателям разработку рабочих программ дисциплин по образовательным программам.

    К основным возможностям можно отнести:

    Создание рабочей программы (РП) в соответствии с данными из учебных планов: видами занятий, плановой нагрузкой, необходимыми компетенциями, формами контроля.
    Автоматическая проверка соответствия фактической и плановой нагрузки по всем видам занятий и указания всех необходимых компетенций.
    Использование единых справочников видов занятий и форм контроля, а также стандартизованного описания материально-технического обеспечения, в том числе с учетом обучения лиц с ограниченными возможностями здоровья.
    Создание фонда оценочных средств, в т.ч. автоматическое формирование набора типовых контрольно-измерительных материалов в зависимости от содержания РП и предгенерация содержания контрольно-измерительных материалов по содержанию РП.
    Поддержка генерации и повторного использования: генерация форматированного РП и ФОС в ODT, DOC или PDF форматах, а также создание РП на основе существующих с копированием всего содержания.
</p>




{% endblock %}




