<div class="list-group">
    <p><b>Содержание рабочей программы: </b></p>
    <a href="{% url 'add_test_data' %}" class="list-group-item list-group-item-action">Титульный лист</a>
    <a href="{% url 'add_goals' %}" class="list-group-item list-group-item-action">Цели и задачи освоения дисциплины,
        место дисциплины в структуре образовательной программы</a>
    <a href="{% url 'add_plan_res_ed' %}" class="list-group-item list-group-item-action">Планируемые результаты обучения по дисциплине</a>
    <a href="/" class="list-group-item list-group-item-action">Структура учебной дисциплины и распределение ее трудоемкости</a>
    <a href="{% url 'get_data_comp' %}" class="list-group-item list-group-item-action">Содержание дисциплины</a>
    <a href="/" class="list-group-item list-group-item-action">Методические указания для обучающихся по освоению дисциплины и
учебно-методическое обеспечение самостоятельной работы</a>
    <a href="{% url 'get_commp'%}" class="list-group-item list-group-item-action">Фонд оценочных средств для проведения промежуточной аттестации
обучающихся по дисциплине</a>
    <a href="/" class="list-group-item list-group-item-action">Перечень основной и дополнительной учебной литературы, необходимой для освоения дисциплины
</a>
    <a href="/" class="list-group-item list-group-item-action">Перечень ресурсов информационно-телекоммуникационной сети «Интернет», необходимых для освоения дисциплины
</a>
    <a href="/" class="list-group-item list-group-item-action">Перечень информационных технологий, используемых при осуществлении образовательного процесса по дисциплине (модулю)</a>
    <a href="/" class="list-group-item list-group-item-action">Материально-техническое обеспечение дисциплины</a>

</div>