<div class="list-group">
    <p><b>Содержание рабочей программы: </b></p>
    <a href="{% url 'add_test_data' %}" class="list-group-item list-group-item-action">Титульный лист
        <span class="badge rounded-pill bg-success">+</span>
    </a>
    <a href="{% url 'add_goals' %}" class="list-group-item list-group-item-action">Цели и задачи освоения дисциплины,
        место дисциплины в структуре образовательной программы<span class="badge rounded-pill bg-secondary">-</span></a>
    <a href="{% url 'add_plan_res_ed' %}" class="list-group-item list-group-item-action">Планируемые результаты обучения по дисциплине
    <span class="badge rounded-pill bg-success">+</span></a>
    <a href="{% url 'struct_discip' %}" class="list-group-item list-group-item-action">Структура учебной дисциплины и распределение ее трудоемкости
    <span class="badge rounded-pill bg-secondary">-</span></a>
    <a href="{% url 'get_data_comp' %}" class="list-group-item list-group-item-action">Содержание дисциплины
    <span class="badge rounded-pill bg-secondary">-</span></a>
    <a href="/" class="list-group-item list-group-item-action">Методические указания для обучающихся по освоению дисциплины и
        учебно-методическое обеспечение самостоятельной работы
    <span class="badge rounded-pill bg-secondary">-</span></a>
    <a href="{% url 'get_commp'%}" class="list-group-item list-group-item-action">Фонд оценочных средств для проведения промежуточной аттестации
        обучающихся по дисциплине
    <span class="badge rounded-pill bg-secondary">-</span></a>
    <a href="{% url 'gen_book' %}" class="list-group-item list-group-item-action">Перечень основной и дополнительной учебной литературы, необходимой для освоения дисциплины
    <span class="badge rounded-pill bg-secondary">-</span>
    </a>
    <a href="/" class="list-group-item list-group-item-action">Перечень ресурсов информационно-телекоммуникационной сети «Интернет», необходимых для освоения дисциплины
    <span class="badge rounded-pill bg-secondary">-</span>
    </a>
    <a href="{% url 'test' %}" class="list-group-item list-group-item-action">Перечень информационных технологий, используемых при осуществлении образовательного процесса по дисциплине (модулю)
    <span class="badge rounded-pill bg-secondary">-</span></a>
    <a href="/" class="list-group-item list-group-item-action">Материально-техническое обеспечение дисциплины
    <span class="badge rounded-pill bg-secondary">-</span></a>
    <a style="background-color: #94ccd1" href="{% url 'gen_res' %}" class="list-group-item list-group-item-action">Результат заполнения содержания
    <span class="badge rounded-pill bg-secondary">-</span></a>

</div>

